<p><%= link_to 'Submit a link', new_link_path, class: 'btn btn-primary' %></p>
<% @links.each do |link| %>
  <div class="entry">
    <h3 class="title"><%= link_to link.title, link.url, { target: "_blank" } %></h3>
    <% if link.comments.present? %>
      <p><%= link_to pluralize(link.comments.count, "Comment"), link %></p>
    <% else %>
      <p><%= link_to "Comment", link %></p>
    <% end %>
    <p>
      <%= link_to "+", votes_path( vote: { link_id: link.id, up: true }), method: :post %>
      <%= link_to "-", votes_path( vote: { link_id: link.id, up: false }), method: :post %>
    </p>

    <p>
      Up votes: <%= link.votes.where(up: true).count %>
      Down votes: <%= link.votes.where(up: false).count %>
    </p>
    <p>
      Votes: <%= link.votes.where(up: true).count - link.votes.where(up: false).count %>
    </p>
  </div>
<% end %>

<%= will_paginate @links %>