<% @links.each do |link| %>
  <div class="entry">
    <h4 class="title"><%= link_to link.title, link.url, { target: "_blank" } %></h4>
    <% if link.comments.present? %>
      <p><%= link_to pluralize(link.comments.count, "Comment"), link %></p>
    <% else %>
      <p><%= link_to "Comment", link %></p>
    <% end %>

    <%= render 'layouts/voting', link: link%>
  </div>
<% end %>

<%= will_paginate @links %>
