<% @links.each do |link| %>
  <div class="entry">
    <h4 class="title"><%= link_to link.title, link.url, { target: "_blank" } %></h4>
    <% if link.comments.present? %>
      <p><%= link_to pluralize(link.comments.count, "Comment"), link %></p>
    <% else %>
      <p><%= link_to "Comment", link %></p>
    <% end %>

    <% if current_user && current_user.votes.where(link_id: link.id, up: true).present? %>
      <p>
        Up Voted - 
        <%= link_to "Down Vote", votes_path( vote: { link_id: link.id, up: false }), method: :post %>
      </p>
    <% elsif current_user && current_user.votes.where(link_id: link.id, up: false).present? %>
      <p>
        <%= link_to "Up Vote", votes_path( vote: { link_id: link.id, up: true }), method: :post %>
        - Down Voted
      </p>
    <% else %>
      <div class="voting">
        <%= link_to "", votes_path( vote: { link_id: link.id, up: true } ), class: "icon-thumbs-up", method: :post %>
        <p><%= link.votes.where(up: true).count - link.votes.where(up: false).count %></p>
        <%= link_to "", votes_path( vote: { link_id: link.id, up: false }), class: "icon-thumbs-down", method: :post %>
      </div>
    <% end %>
  </div>
<% end %>

<%= will_paginate @links %>
