<h2>
  <%= link_to @link.title, @link.url %>
</h2>

<% if current_user.present? %>
  <%= render 'layouts/comment_form' %>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %> to leave a comment.</p>
<% end %>

<% if @link.comments.present? %>
  <h2><%= pluralize(@link.comments.count, "Comment") %></h2>
<% else %>
  <h2>No comments yet...</h2>
<% end %>

<div class="commentsWrap">
  <% @linkComments.each do |comment| %>
    <div>
      <p><%= comment.message %></p>
    </div>
  <% end %>
</div>
