<div class="entry">
  <h4 class="title"><%= link_to @link.title, @link.url, { target: "_blank" } %></h4>
  <p>
    Posted <%= time_ago_in_words(@link.created_at) %> ago by <%= @link.user.username %>
    <% if current_user == @link.user %>
      - <%= link_to "Edit", edit_link_path %>
      - <%= link_to "Delete", @link, data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>
  </p>

  <%= render 'layouts/voting', link: @link, vote: @vote %>
</div>

<% if @link.comments.present? %>
  <h4 class="title"><%= pluralize(@link.comments.count, "Comment") %></h4>
<% else %>
  <h4 class="title">No comments yet...</h4>
<% end %>


<% if current_user.present? %>
  <%= render 'layouts/comment_form' %>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %> to leave a comment.</p>
<% end %>

<div class="comments">
  <% @comments.each do |comment| %>
    <div>
      <%= gravatar_for(comment.user, 48) %>
      <p class="comment-text"><%= comment.message %></p>
      <p>
        <small>
          Posted by <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %> ago.
          <% if current_user == comment.user %>
            - <%= link_to "Edit", edit_comment_path(comment.id) %>
            - <%= link_to "Delete", comment, data: { confirm: "Are you sure?" }, method: :delete %>
          <% end %>
        </small>
      </p>
    </div>
  <% end %>
</div>
